extends layout/layout

block append variables
  - var title = "Каталог книг"
  - var pageClass = "catalog-page"
  - var isAuthed = false

block header
  include modules/header/header
block content
  main(class=pageClass)
    include modules/breadcrumbs/breadcrumbs
    include modules/catalog/catalog
