extends layout/layout

block append variables
  - var title = "Главная страница"
  - var pageClass = "index-page"
  - var isAuthed = false

block header
  include modules/header/header
block content
  main(class=pageClass)
    h1.visually-hidden Магазин по продаже книг "По полочкам"
    include modules/hero/hero
    include modules/new-books/new-books
    include modules/best-books/best-books
    include modules/about/about
    include modules/reviews/reviews-index