extends layout/layout

block header
  include modules/header/header
block content
  main.index-page
    h1.visually-hidden Магазин по продаже книг "По полочкам"
    include modules/hero/hero
    include modules/new-books/new-books
    include modules/best-books/best-books
    include modules/about/about
    include modules/reviews/reviews-index