extends layout/layout

block header
  include modules/header/header-authed.pug
block content
  main.book-page
    include modules/breadcrumbs/breadcrumbs-book
    include modules/book/book
    include modules/reviews/reviews-book
    include modules/recently-viewed/recently-viewed

