div(class="catalog__pagination pagination")
  ul.pagination__list
    li.pagination__item
      a(class='pagination__link pagination__link--active' title='Текущая страница 1') 1
    li.pagination__item
      a(class='pagination__link' href='#' title='Перейти на страницу № 2') 2
    li.pagination__item
      a(class='pagination__link' href='#' title='Перейти на страницу № 3') 3
    li.pagination__item
      a(class='pagination__link' href='#' title='Перейти на страницу № 4') 4
